.small {
  width: 500px;
  margin: 20px auto;
  background-color: green;
}

.big {
  width: 500px;
  margin: 20px auto;
  padding: 50px;
  border-width: 10px;
  background-color: green;
  /* box-sizing: border-box; /*为元素指定的任何内边距和边框都将在已设定的宽度和高度内进行绘制。*/
}